<div id="left">

<div id="flash-banner"><img src="images/papicontact.png" /></div>

<h1>Denver Limo Services</h1>
<p>
  Papi Enterprises specializes in providing secure and confidential ground transportation for any type of event. When you pick Papi 
  Enterprises, you are assured of prompt and reliable transportation. We have the finest full size luxury sedans, suvs, and limousines 
  around and our professional chauffeurs know that customers come first at Papi Enterprises. Please allow us to do the driving while you 
  prepare for that important meeting or relax on the way to the airport. Leave the frustration of traffic and waiting behind by ordering 
  a Town Car or stretch limousine from Papi Enterprises. Our chauffeurs are trained to handle your special needs, and will make your trip 
  safe and as convenient as possible.
</p>  
<p>
	<b>Our attention to quality and reliability has given us a high level of repeat customers so call to reserve your limousine today.</b>
</p>

</div>

<div id="right">

<div class="banner"><img src="images/banner1.jpg" /></div>

<div class="supportedcities">
<p>
<b>Limousine Services:</b><br>
Weddings<br>
Birthday Parties<br>
Nightclubs<br>
Anniversaries<br>
Airport Pick-Up<br>
Graduation<br>
Prom<br>
Special Occasions<br>
</p>
</div>

</div>