<div id="left">

<div id="flash-banner" style="height:200px;"><img src="images/papicontactus.png" /></div>

<h1>Contact Papi Enterprises</h1>
<p>
	Phone: 720.232.4637
</p>  
<p>
	E-Mail: info@papienterprises.com
</p>
<p>
	Check out our Myspace:<br><br>
	<a href="http://www.myspace.com/papienterprisesco" target="_blank"><img src="/images/banner_234x60_01.gif" width="212" height="53" border="0"></a>
</p>

</div>

<div id="right">

<div class="banner"><img src="images/banner1.jpg" /></div>

<div class="supportedcities">
<p>
<b>Limousine Services:</b><br>
Weddings<br>
Birthday Parties<br>
Nightclubs<br>
Anniversaries<br>
Airport Pick-Up<br>
Graduation<br>
Prom<br>
Special Occasions<br>
</p>
</div>

</div>